<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

Access-Control-Allow-Origin.*

<dom-module id="home-cliente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h2>Hola, [[mensaje]]!</h2>
        <paper-button raised class="primary" on-tap="obtenerMovimientos">Consultar Movimientos</paper-button>
        <paper-button raised class="primary" on-tap="insertarMovimientos">Alta de Movimientos</paper-button>
        <br></br>
      </div>

    <div class="row" hidden$="{{!consultar}}">
      <table>
          <tbody>
            <template is="dom-repeat" items={{movimientos}}">
              <tr>
                <td>Movimientos: [[item]]</td>
              </tr>
            </template>
          </tbody>
        </table>
    </div>
    <div class="row"><br></br></div>
      <div id="row" hidden$="{{!insertar}}">
          <h1>Alta de Movimientos</h1>
          <p>Ingresa los datos del movimiento a dar de alta.</p>
          <paper-input-container>
            <label slot="input">Tipo</label>
            <iron-input slot="input" bind-value="">
              <input id="tipo" type="text" value="{{tipo::input}}" placeholder="Tipo Movimiento">
            </iron-input>
          </paper-input-container>
          <paper-input-container>
            <label slot="input">Importe</label>
            <iron-input slot="input" bind-value="">
              <input id="importe" type="text" value="{{importe::input}}" placeholder="Importe">
            </iron-input>
          </paper-input-container>
          <paper-input-container>
            <label slot="input">Descripcion</label>
            <iron-input slot="input" bind-value="">
              <input id="descripcion" type="text" value="{{descripcion::input}}" placeholder="Descripcion">
            </iron-input>
          </paper-input-container>
          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="altaMovimiento">Continuar</paper-button>
          </div>
      </div>
      <div id="row" hidden$="{{!insertado}}">
          <br></br>
          <p>Tu movimiento dado de alta ha sido exitoso. </p>
          <log-out stored-user=""></log-out>
      </div>
    </div>
  </template>

  <script>
    class HomeCliente extends Polymer.Element {
      static get is() { return 'home-cliente'; }
      static get properties() {
          return {
              mensaje: {
                type: String,
                // Definir notify porque sino el padre no se entera
                notify: true
              },
              nombre: {
                type: String
              },
              clientes: {
                type: Array,
                notify: true
              },
              movimientos: {
                type: Array,
                notify: true
              },
              insertar: {
                type: Boolean,
                value: false
              },
              consultar: {
                type: Boolean,
                value: false
              },
              insertado: {
                type: Boolean,
                value: false
              },
              tipo: {
                type: String
              },
              importe: {
                type: String
              },
              email: {
                type: String
              },
              descripcion: {
                type: String
              }
          };
        }
        obtenerMovimientos() {
          var url = "http://localhost:3002/v4/Movimientos";
          var request = new XMLHttpRequest();
          request.open("GET",url,false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.movimientos = JSON.parse(request.responseText);
          console.table(this.movimientos);

          this.consultar = true;
          this.insertar = false;
          this.insertado = false;
        }

        insertarMovimientos(){
          this.consultar = false;
          this.insertado = false;
          this.insertar = true;
        }
        altaMovimiento(){
          var url = "http://localhost:3002/v3/Movimientos";
          var request = new XMLHttpRequest();
          request.open("POST",url,false);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var nuevoCliente = {"email":this.mensaje,"tipo":this.tipo,"importe":this.importe,"descripcion":this.descripcion};
          var body = JSON.stringify(nuevoCliente);
          console.log(nuevoCliente);
          request.send(body);
          this.respuesta = request.responseText;
          console.table(this.respuesta);
          this.insertado = true;
        }
    }

    window.customElements.define(HomeCliente.is, HomeCliente);
  </script>
</dom-module>
