<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-principal">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1>Bienvenido</h1>
        <p>Consulta aqui los tipos de cambio o incia sesión para acceder a tus movimientos.</p>
      </div>
      <div class="row">
        <button on-click="tipoCambio" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Tipo de cambio</button>
      </div>

      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>Dolar [[item.USD]]</td>
                <td>Euro [[item.EUR]]</td>
                <td>Brazilian Real [[item.BRL]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomePrincipal extends Polymer.Element {
      static get is() { return 'home-principal'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true,
            value: function() { return []; }
          }
        };
      }
      tipoCambio(){
        var url = "https://api.exchangerate-api.com/v4/latest/MXN";
        var request = new XMLHttpRequest();
        request.open("GET",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = [JSON.parse(request.responseText).rates];
        console.table(this.clientes);
      }
    }

    window.customElements.define(HomePrincipal.is, HomePrincipal);
  </script>
</dom-module>
