<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="home-cliente.html">

Access-Control-Allow-Origin.*

<dom-module id="registro-cliente">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div id="row" hidden$="{{registrado}}">
        <h1>Alta</h1>
        <p>Ingresa los datos a continuación para el alta de tu usuario.</p>
        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="">
            <input id="nombre" type="text" value="{{nombre::input}}" placeholder="Nombre">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Apellido</label>
          <iron-input slot="input" bind-value="">
            <input id="apellido" type="text" value="{{apellido::input}}" placeholder="Apellido">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="">
            <input id="email" type="text" value="{{email::input}}" placeholder="Email">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="">
            <input id="password" type="password" value="{{password::input}}" placeholder="Password">
          </iron-input>
        </paper-input-container>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="insertarClientes">Continuar</paper-button>
        </div>
      </div>
      <div id="row" hidden$="{{!registrado}}">
          <h2>Hola, {{nombre}}!</h2>
          <p>Tu registro ha sido exitoso. Por favor, inicia sesión para acceder a tus movimientos <a href="[[rootPath]]register-login">Iniciar sesión</a>!</p>
          <log-out stored-user=""></log-out>
      </div>
    </div>

    <iron-localstorage name="user-storage" value=""></iron-localstorage>
    <!--<app-location route="{{route}}"></app-location>-->
    <brum-global-variable key="userData" value=""></brum-global-variable>

  </template>

  <template is="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error:</strong> [[error]]</p>
  </template>

  <script>
    class RegistroCliente extends Polymer.Element {
      static get is() { return 'registro-cliente'; }

      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          registrado: {
            type: Boolean,
            value: false
          }
        }
      }

      insertarClientes(){
        var url = "http://localhost:3002/v3/Clientes";
        var request = new XMLHttpRequest();
        request.open("POST",url,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"nombre":this.nombre,"apellido":this.apellido,"email":this.email,"password":this.password};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);
        console.log(body);
        this.respuesta = request.responseText;
        console.table(this.respuesta);
        this.registrado = true;
      }
    }

    window.customElements.define(RegistroCliente.is, RegistroCliente);
  </script>
</dom-module>
