<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="home-cliente.html">
<link rel="import" href="registro-cliente.html">
<link rel="import" href="alta-movimientos.html">

Access-Control-Allow-Origin.*

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div id="row" hidden$="{{loggedin}}">
        <h1>Inicia sesión</h1>
        <p>O <strong>regístrate</strong> para tener acceso a todos tus movimientos.</p>
        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="">
            <input id="email" type="text" value="{{email::input}}" placeholder="Email">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="">
            <input id="password" type="password" value="{{password::input}}" placeholder="Password">
          </iron-input>
        </paper-input-container>
        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="login">Accesar</paper-button>
          <paper-button class="link" on-tap="postRegister">Registrarme</paper-button>
        </div>
      </div>
      <div id="row" hidden$="{{!loggedin}}">
          <home-cliente mensaje="{{email}}"></home-cliente>
      </div>
    </div>

    <iron-localstorage name="user-storage" value=""></iron-localstorage>
    <app-location route="{{route}}"></app-location>
    <brum-global-variable key="userData" value=""></brum-global-variable>

    <iron-ajax
        id="registerLoginAjax"
        url="http://localhost:3002/v4/login"
        content-type="application/json"
        crossDomain: true
        dataType: 'jsonp'
        method="post"
        handle-as="json"
        on-response="handleUserResponse"
        on-error="handleUserError"
        headers="Access-Control-Allow-Headers: *">

  </template>

  <template is="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error:</strong> [[error]]</p>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }

      static get properties() {
        return {
          email: {
             type: String
          },
          password: {
            type: String
          },
          loggedin: {
            type: Boolean,
            value: false
          }
        }
      }

      login() {
        var loginData = {"email" : this.email, "password" : this.password};
        this.$.registerLoginAjax.body = JSON.stringify(loginData);
        this.$.registerLoginAjax.generateRequest();
        console.log("Petición enviada");
        this.set('route.path', '/register-login')
      }

      postRegister() {
        this.set('route.path', '/registro-cliente')
      }

      handleUserResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.loggedin = true;
      }

      handleUserError(data) {
        this.error = data.detail.request.xhr.response;
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
