<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      :root {
        --primary-color: #4285f4;
      }
      a,
      paper-button {
        font-weight: bold;
      }
      a {
        color: var(--primary-color);
      }
      paper-button {
        color: #fff;
      }
      paper-button.primary {
        background: var(--primary-color);
      }
      blockquote {
        border-left: 4px solid #eee;
        margin-left: 4px;
        padding-left: 20px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      paper-button.link {
        color: #757575;
      }

      .alert-error {
          background: #ffcdd2;
          border: 1px solid #f44336;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          padding: 10px;
      }

      input {
      	position: relative;
      	outline: none;
      	box-shadow: none;
      	margin: 0;
      	padding: 0;
      	width: 100%;
      	max-width: 100%;
      	background: transparent;
      	border: none;
      	color: var(--paper-input-container-input-color, var(--primary-text-color));
      	-webkit-appearance: none;
      	text-align: inherit;
      	vertical-align: bottom;
      	min-width: 0;
      	font-family: var(--paper-font-subhead_-_font-family);
      	-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
      	font-size: var(--paper-font-subhead_-_font-size);
      	font-weight: var(--paper-font-subhead_-_font-weight);
      	line-height: var(--paper-font-subhead_-_line-height);
      }
    </style>
  </template>
</dom-module>
